<% layout("./layouts/boilerplate") -%>
    
<div class="container">
    <div class="row">
           

          <div class="card mb-3  ">
              <div class="row g-0">
                  <div class="col-sm-12 col-md-3 my-2"   >
                    <img   src="<%=foundMovie.imageUrl%>" >
                  </div>
                  <div class="col-sm-8 col-md-9">
                      <div class="card-body " >
                           <div class="row">
                                <div class="col-md-8">
                                    <h3 class="card-title "><%=foundMovie.movieName%></h3>
                                </div>
                                <div class="col-md-4">
                                    <form action="/movies/<%=foundMovie.movieApiId%>/add" method="POST">
                                        <button class="btn btn-success  w-100 ">Adicione a sua lista!</button>
                                    </form>
                                </div>
                           </div>
                           <%if(!currentUser){%>
                            <p class="mt-2"><a href="/login"> Faça seu login</a> ou <a href="/register">Registre-se</a> para deixar uma crítica!</p>
                          <%}%>  
                          <% let usersRating = 0 %>
                        <%if(foundMovie.review.length !=0){%>
                                <%for(let review of foundMovie.review){%>
                                <%usersRating +=review.rating%>
                          <% } %>
            
                            <p class="starability-result mt-2" data-rating=<%= Math.round(usersRating/foundMovie.review.length) %>>
                                Avarege users rate: <%= Math.round(usersRating/foundMovie.review.length) %> stars
                            </p>
            
                        <% }else{ %>
                        <small>No users reviews yet</small>
                        <%} %>
                                                   
                          
                            
                            <p class="card-text"><%-foundMovie.summary%></p>
                            
                      </div>
                  </div>
              </div>
          </div>

                             
            
            
            <%if(foundMovie.review){%>
                <div class="my-3">
                    <%for(let review of foundMovie.review){%>
                        <p> <%=review.reviewText%> - Autor: <%=review.author.username%></p>
                        <p class="starability-result" data-rating=<%=review.rating%>>
                        Rated: <%=review.rating%> stars
                        </p>
                        <%if(currentUser && review.author.equals(currentUser)){ %>
                            <form action="/movies/<%=foundMovie._id%>/review/<%=review._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger mt-2">Delete!</button>
                            </form>
                                <a class="" href="/movies/<%=review._id%>/edit">Editar</a>
                            
                        <% } %>
                    <%}%> 
                    
                </div>
           <%}%>
            
    </div>
</div>


 <script src="../../javascript/buttonVisibility.js"></script>
 



