<% layout("./layouts/boilerplate") -%>
    

    
    <div class="card mb-3" style="">
        <div class="row g-0">
          <div class="col-sm-12 col-md-3 my-2" >
            <img src="<%=movie.data.image.medium%>">
          </div>
          <div class="col-sm-8 col-md-9">

            <div class="card-body">
              <div class="row">
                <div class="col-md-8">

                  <h3 class="card-title"><%=movie.data.name%></h3>
                </div>
                <div class="col-md-4">
                  <form action="/movies/<%=movie.data.id%>/add" method="POST">
                      <button class="btn btn-success  w-100 ">Adicione a sua lista!</button>
                  </form>
                </div>
              </div>
              <small class="text-muted">Ainda não há críticas!</small>
              

              <%if(currentUser){%>  
                <form action="/movies/<%=movie.data.id%>/review" method="POST">
                  <button class= "btn btn-dark  mt-3" name="reviewButton" id="reviewButton">Deixe sua crítica!</button> 
                    <div class="my-3">
                      <div class="invisible mt-3" id="reviewBox">
                            <fieldset class="starability-slot">
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
                                    aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
        
                            <textarea class="form-control" name="review[reviewText]" id="reviewText"cols="30" rows="3"></textarea>
                            <button class="btn btn-success mt-2">Enviar!!!</button>
                          </div> 
                    </div>
                    
                </form>
                </form>
                <%}else{%> 
                  <p class="mt-2">Quer ser o primeiro a comentar?<a href="/login"> Faça seu login</a> ou <a href="/register">Registre-se</a> </p>
                  <%}%>
                  <p class="card-text"><%-movie.data.summary%></p>
              
            </div>
          </div>
        </div>
      </div>
    
      <script src="../../javascript/buttonVisibility.js"></script>
    
    
    



       